<%-include ('header') %>
<%
var page = locals.page;
var end_link = locals.end_link;
%>
    <div class="container mt-4">
        <div class="main_title">
            게시판
        </div>
        <div class="list_title">
            <h5><%=total%>개의 글이 조회되었습니다.</h5>
            <a href="/write">글쓰기</a>
        </div>
        <table class="list">
            <tr>
                <td>제목</td>
                <td>작성자</td>
                <td>작성일</td>
                <td>조회수</td>
            </tr>
        <%
        if(data.length === 0){
        %>
            <tr>
                <td colspan="4" align="center">작성된 게시글이 없습니다.</td>
            </tr>
        <%
        }else{
            data.forEach(list => { 
                if(list.jump === 0){
                    var newlist = 'new';
                    var jump_new = 'jump_new';
                } else{
                    var newlist = list.jump;
                    var jump_new = '';
                }
            %>
            <tr>
                <td><a href="/view?no=<%=list.no%>&page=<%=page%>"><%=list.title%></a>&nbsp;&nbsp;<span>(<%=list.c_total%>)</span></td>
                <td><%=list.name%></td>
                <td><%=list.date%></td>
                <td class="<%=jump_new%>"><%=newlist%></td>
            </tr>
            <% })} %>     
        </table>
        <nav>
            <ul class="pagination justify-content-center">
         <% if(page > 1){ %>
            <li class="page-item"><a class="page-link" href="/list?page=<%=page-1%>">이전</a></li>
         <% } %>
         <% for(let i = 1; i <= end_link; i++) { %>
            <% if(i === page) { %>
                <li class="page-item"><a class="page-link selected" href="/list?page=<%=i%>"><%=i%></a></li>
            <% continue; } %>
                <li class="page-item"><a class="page-link" href="/list?page=<%=i%>"><%=i%></a></li>
        <% } %>
        <% if(page < num_pages){ %>
            <li class="page-item"><a class="page-link" href="/list?page=<%=page+1%>">다음</a></li>
        <% } %>
            </ul>
        </nav>
    </div>