<%-include ('header') %>
<script type="text/javascript">
    $(function() {
        $("#update_image").on('change', function(){
        readURL(this);
        });
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
            $('#View').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<div class="container mt-4 myform">
    <% if(page_type === 'image'){ %>
        <div class="main_title">   
            사진 변경
        </div>
        <form name="img_update_form" action="/auth/user_update?u=<%=page_type%>" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="image" class="form-label">새 프로필 사진</label>
                <div class="img_container">
                    <img id="View"/>
                </div>
                <input type="hidden" name="id" value="<%=user.id%>">
                <input type="hidden" name="name" value="<%=user.name%>">
                <input type="hidden" name="img" value="<%=user.img%>">
                <input type="file" id="update_image" name="update_image">
            </div>
            <input type="button" class="btn btn-primary" value="뒤로" onclick="location.href='/user_update'">
            <input type="submit" class="btn btn-primary" value="변경">
        </form>
    <% }else if(page_type === 'password'){ %>
        <div class="main_title">   
            비밀번호 변경
        </div>
        <form name="img_update_form" action="/auth/user_update?u=<%=page_type%>" method="post">
            <div class="mb-3">
                <label for="pw" class="form-label">새 비밀번호</label>
                <input type="password" class="form-control regist_text" id="pw" name="pw">
                <input type="hidden" name="id" value="<%=user.id%>">
                <input type="hidden" name="name" value="<%=user.name%>">
                <input type="hidden" name="img" value="<%=user.img%>">
            </div>
            <div class="mb-3">
                <label for="pw_check" class="form-label">새 비밀번호 확인</label>
                <input type="password" class="form-control regist_text" id="pw_check" name="pw_check">
            </div>
            <input type="button" class="btn btn-primary" value="뒤로" onclick="location.href='/user_update'">
            <input type="submit" class="btn btn-primary" value="변경">
        </form>
    <% } %>
    <% if(locals.message) { %>
        <h5 class="alert-regist"><%=locals.message %></h5>
    <% } %>
</div>