<%-include ('header') %>
<div class="container mt-4">
    <div class="main_title">
        프로필
    </div>
    <div class="card profile" style="width: 18rem;">
        <img class="card-img-top" src="/<%=user.img%>">
        <div class="card-body">
            <h5 class="card-title"><%=user.name%></h5>
            <p class="card-text">프로필 및 본인소개글을 입력하는 곳.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%=user.date%>에 가입</li>
          <li class="list-group-item"><%=data[0].list_total%>개의 게시글 작성</li>
          <li class="list-group-item"><%=data[0].comment_total%>개의 댓글 작성</li>
        </ul>
      </div>
</div>