<%-include ('header') %>
<div class="container mt-4">
    <div class="main_title">
        프로필
    </div>
    <p><%=user.id%></p>
    <p><%=user.name%></p>
    <p><%=user.join%></p>
    <p><%=user.img%></p>
</div>