<%-include ('header') %>
<div class="container mt-4 myform">
    <div class="main_title">
        회원정보수정
    </div>
    <div class="mb-3 update_img">
        <div class="img_container">
            <img id="View" src="/<%=data.img%>">
        </div>
        <div class="btn_wrap">
            <input class="btn btn-primary" type="button" value="사진 수정" onclick="">
            <input type="button" class="btn btn-primary" value="비밀번호 수정">
        </div>
    </div>    
    <form name="user_update_form" action="/auth/user_update?u=update" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">이름</label>
            <input type="hidden" name="id" value="<%=user.id%>">
            <input type="text" class="form-control regist_text" id="name" name="name" value="<%=data.name%>">
        </div>
        <div class="btn_wrap">
            <input type="button" class="btn btn-primary" value="뒤로" onclick="location.href='profile'">
            <input type="button" class="btn btn-primary" value="변경" onclick="updateCheck()">
    </form>
    <form name="user_delete_form" action="/auth/user_update?u=delete" method="post">
            <input type="hidden" name="id" value="<%=user.id%>">
            <input type="button" class="btn btn-primary back_btn" value="탈퇴" onclick="deleteCheck()">
        </div>
    </form>
</div>
<script>
    function deleteCheck(){
        if(confirm('회원을 탈퇴하시겠습니까?') === true){
            user_delete_form.submit();
        }else{
            return false;
        }
    }
    function updateCheck(){
            
    }
</script>