<%-include ('header') %>
<div class="container mt-4 myform">
    <div class="main_title">
        비밀번호 재확인
    </div>
    <form name="user_update_check_form" action="/auth/user_update_check" method="post">
        <div class="mb-3">
            <label for="pw" class="form-label">비밀번호</label>
            <input type="hidden" name="id" value="<%=user.id%>">
            <input type="hidden" name="name" value="<%=user.name%>">
            <input type="hidden" name="img" value="<%=user.img%>">
            <input type="password" class="form-control regist_text" name="pw" id="pw">
        </div>
        <input type="button" class="btn btn-primary" value="뒤로" onclick="history.back()">
        <input type="submit" class="btn btn-primary" value="확인">
    </form>
    <% if(locals.message) { %>
        <h5 class="alert-regist"><%=locals.message %></h5>
    <% } %>
</div>