<%-include ('header') %>
    <div class="container mt-4 myform">
        <div class="main_title">
            글 조회
        </div>
        <nav class="introduce_writer">
            <img src="/<%=view.img%>">
            <span><%=view.name%></span>
            <p>최종 수정일 - <%=view.date%></p>
        </nav>
        <form name="view_form" action="/auth/view" method="post">
            <input type="hidden" name="no" value="<%=get.no%>">
            <input type="hidden" name="view_id" value="<%=view.user_id%>">
            <input type="hidden" name="user_id" value="<%=user.id%>">    
            <div class="mb-3">
                <input type="text" class="form-control" id="title" name="title" value="<%=view.title%>" readonly>
            </div>
            <div class="mb-3">
                <textarea class="form-control write_text" rows="20" id="text" name="text"
                    readonly><%=view.text%></textarea>
            </div>
            <div class="btn_wrap">
                <input type="button" class="btn btn-primary" value="목록" onclick="location.href='/list?page=<%=get.page%>'">
                <% if(view.user_id === user.id){ %>
                <input type="submit" class="btn btn-primary" value="수정">
                <% } %>          
            </div>
        </form>
        <form name="comment_form" action="/auth/view?c=insert" method="post">
            <div class="comment_write">
                <img src="/<%=user.img%>">
                <span><%=user.name%></span>
                <textarea class="form-control write_text" rows="3" placeholder="댓글을 입력하세요..." name="text"></textarea>
                <input type="hidden" name="user_id" value="<%=user.id%>">
                <input type="hidden" name="list_no" value="<%=get.no%>">
                <input type="button" class="btn btn-primary" value="입력"onclick="commentCheck()">
            </div>
        </form>
        <h5 class="comment_total">댓글 <%=comment.length%>개</h5>
        <% comment.forEach(list => { %>
            <div class="comment_list">
                <img src="/<%=list.img%>">
                <span><%=list.name%>&nbsp;-&nbsp;&nbsp;<%=list.date%></span>
                <div>
                    <p><%=list.text%></p>
                    <% if(user.id === list.user_id){ %>
                    <form name="comment_delete" action="/auth/view?c=delete" method="post">
                        <input type="submit" value="삭제">
                        <input type="hidden" name="c_no" value="<%=list.c_no%>">
                        <input type="hidden" name="list_no" value="<%=get.no%>">
                    </form>
                    <% } %>
                </div>
            </div>
        <% });%>
        
        <nav class="comment_paging">

        </nav>
    </div>
    <script>
        function commentCheck(){
            if(comment_form.text.value === ''){
                alert('댓글 내용이 비어있습니다.');
                return false;
            }else{
                comment_form.submit();
            }
        }
    </script>