<%-include ('header') %>
<div class="container mt-4 myform">
    <div class="main_title">
        글쓰기
    </div>
    <form name="write_form" action="/auth/write" method="post">
        <div class="mb-3">
            <input type="hidden" id="id" name="id" value="<%=user.id%>">
            <input type="hidden" id="name" name="name" value="<%=user.name%>">
            <input type="hidden" id="img" name="img" value="<%=user.img%>">
            <input type="text" class="form-control" id="title" name="title" placeholder="제목">
        </div>
        <div class="mb-3">
            <textarea class="form-control write_text" placeholder="내용" rows="20" id="text" name="text"></textarea>
        </div>
        <% if(locals.message) { %>
        <h5 class="alert-regist"><%=locals.message %></h5>
        <% } %>
        <button type="submit" class="btn btn-primary write_btn">등록</button>
    </form>
</div>